# Opioid Shipment data merging

In [13]:
import pandas as pd
opd_df = pd.read_csv('https://raw.githubusercontent.com/ISL-0111/personal_ISL/refs/heads/main/concatenated_shipping_data.csv?token=GHSAT0AAAAAAC2RLIBHNQMFOU2JPLK2W6PUZ2CZUZQ')
pop_0715_reshaped = pd.read_csv('https://raw.githubusercontent.com/ISL-0111/personal_ISL/refs/heads/main/pop_0715_reshaped.csv?token=GHSAT0AAAAAAC2RLIBGNMP22UP2IRBWQ432Z2CZUDA')
fips_cleaned = pd.read_csv("https://raw.githubusercontent.com/ISL-0111/personal_ISL/refs/heads/main/fips_data_cleaned.csv?token=GHSAT0AAAAAAC2RLIBG3MDWU4F6WJONOCAAZ2CZUNA")

#### Opioid Shoipment + FIPS(County Code)

In [14]:
display(opd_df.sample(20))
display(opd_df.shape)

# Rename columns, 
opd_df.columns = (opd_df.columns
             .str.replace('year', 'YEAR')
             .str.replace('BUYER_STATE', 'STATE')
             .str.replace('BUYER_COUNTY', 'COUNTY')
             .str.replace('strength', 'MME_Conversion_Factor')
)

opd_df['COUNTY'] = opd_df['COUNTY'] + ' COUNTY'
display(opd_df.sample(10))
display(opd_df.dtypes)

       year       BUYER_COUNTY BUYER_STATE      strength
43694  2012       SAINT THOMAS          VI  5.969343e+03
23123  2016        SWEET GRASS          MT  1.649546e+03
26657  2009             MORRIS          NJ  6.045831e+06
10814  2014          CHAMPAIGN          IL  1.131365e+05
7233   2015              DOOLY          GA  3.282596e+03
7093   2014           FRANKLIN          GA  4.117423e+04
44767  2010            JACKSON          WI  1.388532e+04
18977  2010            GOODHUE          MN  2.044412e+04
33878  2018          LEXINGTON          SC  2.707900e+05
3996   2008         BROOMFIELD          CO  6.211021e+06
8547   2011              FLOYD          IA  6.702787e+06
42207  2008  MARTINSVILLE CITY          VA  5.425559e+04
10846  2014             JERSEY          IL  1.796318e+04
28498  2007            CARROLL          OH  8.216854e+03
37615  2012             KARNES          TX  4.777003e+03
42667  2012          CHARLOTTE          VA  5.667504e+03
26251  2017               KNOX          NE  4.802227e+03
44867  2011        SAINT CROIX          WI  9.945702e+05
19693  2018             MARTIN          MN  9.934469e+03
40796  2011             ZAPATA          TX  1.869402e+02

(46548, 4)

       YEAR             COUNTY STATE  MME_Conversion_Factor
1045   2016       LAMAR COUNTY    AL           13621.017141
5654   2017        LAKE COUNTY    FL          349033.680318
9251   2018      HOWARD COUNTY    IA            1830.757690
8289   2008        PAGE COUNTY    IA            8458.866355
29579  2019       HENRY COUNTY    OH            8201.414399
4582   2017  RIO GRANDE COUNTY    CO            7262.988323
27375  2009      LANDER COUNTY    NV            2906.191460
36330  2007    BRAZORIA COUNTY    TX          124785.107456
33443  2009    CHEROKEE COUNTY    SC           44890.487162
29570  2019      FULTON COUNTY    OH           18453.511887

YEAR                       int64
COUNTY                    object
STATE                     object
MME_Conversion_Factor    float64
dtype: object

In [15]:
### VOID : this code is to check if the opd_df contains state level data. ###
# sample1 = opd_df[(opd_df['COUNTY'] == 'NORTH CAROLINA') & (opd_df['STATE'] == 'NC')]
# sample2 = opd_df[(opd_df['COUNTY'] == 'NEW YORK') & (opd_df['STATE'] == 'NY')] ## Intrestingly there is a county named 'NEW YORK' in NY, and it was turned out NEW YORK county in NY.
# display(sample1)
# display(sample2)

# # To exclude state level data, clean index data first
# state_abb = state_abb.rename(columns={'Abbreviation' : 'STATE', 'State' : 'COUNTY'}) # temprarly rename the columns to clean data
# state_abb['COUNTY'] = state_abb['COUNTY'].str.upper()
# state_abb.head(5)

# drop the 'state' data in the opd_df
# filtered_opd_df = opd_df.merge(state_abb, on=['COUNTY', 'STATE'], how='left', indicator=True)
# filtered_opd_df = filtered_opd_df[filtered_opd_df['_merge'] == 'left_only'].drop(columns=['_merge'])

# display(filtered_opd_df.shape)

In [16]:
# Filter dataset for years 2007-2015 and select relevant states
subset_opd_df = opd_df[
    (opd_df['YEAR'] >= 2007) & 
    (opd_df['YEAR'] <= 2015) & 
    (opd_df['STATE'].isin(["FL", "GA", "NC", "SC", "WA", "CO", "OR", "MT"]))
][['STATE', 'COUNTY', 'YEAR', 'MME_Conversion_Factor']]

# Display 20 random rows from the subset
display(subset_opd_df.sample(20))

# Display the shape of the subset dataframe
display(subset_opd_df.shape)
# ROW 4952

      STATE           COUNTY  YEAR  MME_Conversion_Factor
6915     GA   CLAYTON COUNTY  2013           1.333089e+05
22781    MT      HILL COUNTY  2010           1.534808e+04
5550     FL   VOLUSIA COUNTY  2015           1.973214e+08
22931    MT   DANIELS COUNTY  2013           1.676843e+03
4272     CO    MOFFAT COUNTY  2012           1.270003e+04
23456    NC      PITT COUNTY  2007           1.442932e+06
24061    NC     UNION COUNTY  2013           1.661773e+05
23482    NC    YANCEY COUNTY  2007           2.985008e+04
44186    WA    ASOTIN COUNTY  2013           5.175695e+04
23487    NC      ASHE COUNTY  2008           1.897057e+04
7291     GA  MUSCOGEE COUNTY  2015           2.160646e+05
6549     GA    SCHLEY COUNTY  2010           8.257943e+02
7258     GA      HART COUNTY  2015           1.993480e+04
6451     GA   CARROLL COUNTY  2010           1.720317e+05
31024    OR  UMATILLA COUNTY  2014           7.998350e+04
30898    OR   GILLIAM COUNTY  2011           1.164262e+03
5528     FL    MARTIN COUNTY  2015           1.765624e+05
44231    WA   COWLITZ COUNTY  2014           1.522039e+05
6601     GA   CALHOUN COUNTY  2011           1.980941e+03
4310     CO   DOUGLAS COUNTY  2013           1.693653e+05

(4952, 4)

In [17]:
# FIPS data set
fips_cleaned.rename(columns={'COUNTY' : 'COUNTY_CODE'}, inplace=True)
fips_cleaned.rename(columns={'COUNTY_NAME' : 'COUNTY'}, inplace=True)
fips_cleaned.head(5)

   COUNTY_CODE          COUNTY STATE STATE_NAME
0         1001  AUTAUGA COUNTY    AL    ALABAMA
1         1003  BALDWIN COUNTY    AL    ALABAMA
2         1005  BARBOUR COUNTY    AL    ALABAMA
3         1007     BIBB COUNTY    AL    ALABAMA
4         1009   BLOUNT COUNTY    AL    ALABAMA

In [18]:
subset_opd_merged = subset_opd_df.merge(
    fips_cleaned[['STATE', 'COUNTY','COUNTY_CODE']],  # Select only necessary columns
    on=['STATE', 'COUNTY'],  # Columns to join on
    how='left',  # Use 'left' to keep all rows from subset_opd_clean
    indicator=True
)
subset_opd_merged.columns
display(subset_opd_merged['_merge'].value_counts())

left_only_rows = subset_opd_merged[subset_opd_merged['_merge'] == 'left_only']
display(left_only_rows)

_merge
both          4922
left_only       30
right_only       0
Name: count, dtype: int64

,STATE,COUNTY,YEAR,MME_Conversion_Factor,COUNTY_CODE,_merge
558,FL,DE SOTO COUNTY,2007,17368.378497,NaN,left_only
599,FL,SAINT JOHNS COUNTY,2007,120249.980328,NaN,left_only
600,FL,SAINT LUCIE COUNTY,2007,257636.228691,NaN,left_only
624,FL,DE SOTO COUNTY,2008,17567.158120,NaN,left_only
666,FL,SAINT JOHNS COUNTY,2008,139714.746442,NaN,left_only
667,FL,SAINT LUCIE COUNTY,2008,271937.632677,NaN,left_only
691,FL,DE SOTO COUNTY,2009,19911.758142,NaN,left_only
733,FL,SAINT JOHNS COUNTY,2009,165653.548865,NaN,left_only
734,FL,SAINT LUCIE COUNTY,2009,311969.405343,NaN,left_only
758,FL,DE SOTO COUNTY,2010,24806.637994,NaN,left_only
800,FL,SAINT JOHNS COUNTY,2010,215249.304553,NaN,left_only
801,FL,SAINT LUCIE COUNTY,2010,366777.699913,NaN,left_only
825,FL,DE SOTO COUNTY,2011,30121.850472,NaN,left_only
867,FL,SAINT JOHNS COUNTY,2011,208605.834104,NaN,left_only
868,FL,SAINT LUCIE COUNTY,2011,443919.916943,NaN,left_only
892,FL,DE SOTO COUNTY,2012,30405.130746,NaN,left_only
934,FL,SAINT JOHNS COUNTY,2012,200839.664168,NaN,left_only
935,FL,SAINT LUCIE COUNTY,2012,325771.739642,NaN,left_only
959,FL,DE SOTO COUNTY,2013,28287.909235,NaN,left_only
1001,FL,SAINT JOHNS COUNTY,2013,217206.063207,NaN,left_only
1002,FL,SAINT LUCIE COUNTY,2013,288000.092506,NaN,left_only
1026,FL,DE SOTO COUNTY,2014,29766.287396,NaN,left_only
1068,FL,SAINT JOHNS COUNTY,2014,232815.323426,NaN,left_only
1069,FL,SAINT LUCIE COUNTY,2014,305061.190054,NaN,left_only
1093,FL,DE SOTO COUNTY,2015,26984.050763,NaN,left_only
1135,FL,SAINT JOHNS COUNTY,2015,259853.949964,NaN,left_only
1136,FL,SAINT LUCIE COUNTY,2015,329303.690251,NaN,left_only
2831,MT,BURLINGTON COUNTY,2013,2.086875,NaN,left_only
2883,MT,BURLINGTON COUNTY,2014,1.739062,NaN,left_only
2935,MT,BURLINGTON COUNTY,2015,5.217187,NaN,left_only

In [19]:
subset_opd_clean = subset_opd_merged.copy()
# Cleaning data set
# [1] BURLINGTON COUNTY, MT may not exist in real. Therefore I drop those rows.
subset_opd_clean = subset_opd_clean[subset_opd_clean['COUNTY'] != 'BURLINGTON COUNTY']
# [2] Change name in 'SAINT' to 'ST.' in the county column to match     
subset_opd_clean["COUNTY"] = subset_opd_clean["COUNTY"].str.replace('SAINT', 'ST.')
# [3] DE SOTO COUNTUY -> DESOTO COUNTY
subset_opd_clean["COUNTY"] = subset_opd_clean["COUNTY"].str.replace('DE SOTO', 'DESOTO')

In [20]:
subset_opd_clean = subset_opd_clean.drop(columns=['_merge'])

# Perform the merge again
subset_opd_merged_fips = pd.merge(
    subset_opd_clean,
    fips_cleaned[['STATE', 'COUNTY', 'COUNTY_CODE']],
    on=['STATE', 'COUNTY'],
    how='left',
    indicator=True
)
display(subset_opd_merged_fips['_merge'].value_counts())
subset_opd_merged_fips = subset_opd_merged_fips.drop(columns=['_merge'])
subset_opd_merged_fips = subset_opd_merged_fips.drop(columns=['COUNTY_CODE_x'])
subset_opd_merged_fips = subset_opd_merged_fips.rename(columns={'COUNTY_CODE_y' : 'COUNTY_CODE'})
display(subset_opd_merged_fips.sample(10))

_merge
both          4949
left_only        0
right_only       0
Name: count, dtype: int64

     STATE             COUNTY  YEAR  MME_Conversion_Factor  COUNTY_CODE
4694    WA    KITTITAS COUNTY  2009           23092.811598        53037
4187    SC    ANDERSON COUNTY  2007          239196.055628        45007
1322    GA    CHARLTON COUNTY  2008            3818.800321        13049
2684    MT    GARFIELD COUNTY  2010             104.707005        30033
1603    GA     APPLING COUNTY  2010           25876.880084        13001
4528    SC  GREENVILLE COUNTY  2014          874014.307184        45045
1842    GA        LONG COUNTY  2011            2552.409625        13183
565     FL   GILCHRIST COUNTY  2007            9205.932141        12041
3820    NC       MACON COUNTY  2015           28828.782741        37113
554     FL      CITRUS COUNTY  2007          143860.323954        12017

#### Opiod shipment + FIPS(County Code) + 'Populatinon'

In [21]:
# Population date
display(pop_0715_reshaped.head(10))
display(pop_0715_reshaped.shape)

  STATE_NAME STATE          COUNTY  COUNTY_CODE  YEAR  POPULATION
0    ALABAMA    AL  AUTAUGA COUNTY         1001  2007     52405.0
1    ALABAMA    AL  AUTAUGA COUNTY         1001  2008     53277.0
2    ALABAMA    AL  AUTAUGA COUNTY         1001  2009     54135.0
3    ALABAMA    AL  AUTAUGA COUNTY         1001  2010     54761.0
4    ALABAMA    AL  AUTAUGA COUNTY         1001  2011     55229.0
5    ALABAMA    AL  AUTAUGA COUNTY         1001  2012     54970.0
6    ALABAMA    AL  AUTAUGA COUNTY         1001  2013     54747.0
7    ALABAMA    AL  AUTAUGA COUNTY         1001  2014     54922.0
8    ALABAMA    AL  AUTAUGA COUNTY         1001  2015     54903.0
9    ALABAMA    AL  BALDWIN COUNTY         1003  2007    172404.0

(28296, 6)

Merging population data into opioid shipment data

In [22]:
# Subset the population data for the relevant states
subset_pop_0715 = pop_0715_reshaped[
    pop_0715_reshaped['STATE'].isin(["FL", "GA", "NC", "SC", "WA", "CO", "OR", "MT"])
]
subset_pop_0715_clean = subset_pop_0715.copy()
display(subset_pop_0715_clean["STATE"].unique())
display(subset_pop_0715_clean.sample(10))
display(subset_pop_0715_clean.shape)

array(['CO', 'FL', 'GA', 'MT', 'NC', 'OR', 'SC', 'WA'], dtype=object)

           STATE_NAME STATE             COUNTY  COUNTY_CODE  YEAR  POPULATION
17510  NORTH CAROLINA    NC     LINCOLN COUNTY        37109  2012     78743.0
4280          GEORGIA    GA         LEE COUNTY        13177  2012     28718.0
4203          GEORGIA    GA  JEFF DAVIS COUNTY        13161  2007     14204.0
4037          GEORGIA    GA      GILMER COUNTY        13123  2012     28291.0
2685         COLORADO    CO       ROUTT COUNTY         8107  2010     23434.0
4837          GEORGIA    GA  WASHINGTON COUNTY        13303  2011     20971.0
4823          GEORGIA    GA        WARE COUNTY        13299  2015     35337.0
2903          FLORIDA    FL       BAKER COUNTY        12003  2012     27059.0
2342         COLORADO    CO      DENVER COUNTY         8031  2009    589011.0
3556          GEORGIA    GA      BARTOW COUNTY        13015  2008     98415.0

(5103, 6)

In [23]:
merged_shipping = pd.merge(subset_pop_0715_clean, subset_opd_merged_fips, on=['STATE', 'COUNTY', 'COUNTY_CODE', 'YEAR'], how='left', indicator=True)
display(merged_shipping.sample(10))
display(merged_shipping['_merge'].value_counts())
left_value = merged_shipping[merged_shipping["_merge"] == "left_only" ]

display(left_value) # MME is '0' is left only rows

,STATE_NAME,STATE,COUNTY,COUNTY_CODE,YEAR,POPULATION,MME_Conversion_Factor,_merge
4239,OREGON,OR,MULTNOMAH COUNTY,41051,2007,697799.0,1.744275e+06,both
2632,MONTANA,MT,BLAINE COUNTY,30005,2011,6576.0,2.920762e+03,both
4111,OREGON,OR,GILLIAM COUNTY,41021,2014,1927.0,2.076633e+03,both
2047,GEORGIA,GA,MADISON COUNTY,13195,2011,28186.0,3.083700e+04,both
2250,GEORGIA,GA,RANDOLPH COUNTY,13243,2007,7758.0,1.930555e+03,both
906,FLORIDA,FL,LEVY COUNTY,12075,2013,39449.0,5.380882e+04,both
3745,NORTH CAROLINA,NC,PENDER COUNTY,37141,2008,50551.0,2.257208e+04,both
2181,GEORGIA,GA,PICKENS COUNTY,13227,2010,29434.0,3.175337e+04,both
4566,SOUTH CAROLINA,SC,HORRY COUNTY,45051,2010,270295.0,4.020771e+05,both
2936,MONTANA,MT,PONDERA COUNTY,30073,2009,6109.0,5.670527e+03,both

_merge
both          4949
left_only      154
right_only       0
Name: count, dtype: int64

,STATE_NAME,STATE,COUNTY,COUNTY_CODE,YEAR,POPULATION,MME_Conversion_Factor,_merge
108,COLORADO,CO,COSTILLA COUNTY,8023,2007,3567.0,NaN,left_only
109,COLORADO,CO,COSTILLA COUNTY,8023,2008,3532.0,NaN,left_only
110,COLORADO,CO,COSTILLA COUNTY,8023,2009,3481.0,NaN,left_only
111,COLORADO,CO,COSTILLA COUNTY,8023,2010,3529.0,NaN,left_only
113,COLORADO,CO,COSTILLA COUNTY,8023,2012,3601.0,NaN,left_only
...,...,...,...,...,...,...,...,...
4264,OREGON,OR,SHERMAN COUNTY,41055,2014,1715.0,NaN,left_only
4265,OREGON,OR,SHERMAN COUNTY,41055,2015,1691.0,NaN,left_only
4320,OREGON,OR,WHEELER COUNTY,41069,2007,1419.0,NaN,left_only
4321,OREGON,OR,WHEELER COUNTY,41069,2008,1399.0,NaN,left_only
4328,OREGON,OR,WHEELER COUNTY,41069,2015,1327.0,NaN,left_only

In [24]:
# Fill the missing values in the MME_Conversion_Factor column with 0 & drop _merge column
merged_shipping = merged_shipping.drop(columns=['_merge'])
merged_shipping['MME_Conversion_Factor'] = merged_shipping["MME_Conversion_Factor"].fillna("0")
merged_shipping.head(5)

,STATE_NAME,STATE,COUNTY,COUNTY_CODE,YEAR,POPULATION,MME_Conversion_Factor
0,COLORADO,CO,ADAMS COUNTY,8001,2007,415746.0,3887932.419967
1,COLORADO,CO,ADAMS COUNTY,8001,2008,424913.0,3371337.927438
2,COLORADO,CO,ADAMS COUNTY,8001,2009,435700.0,3159908.834568
3,COLORADO,CO,ADAMS COUNTY,8001,2010,443692.0,2949081.678529
4,COLORADO,CO,ADAMS COUNTY,8001,2011,452209.0,3179628.368786

In [25]:
merged_shipping.dtypes
merged_shipping["MME_Conversion_Factor"] = merged_shipping["MME_Conversion_Factor"].astype(float)
merged_shipping[ "MME_per_capita"] = merged_shipping["MME_Conversion_Factor"] / merged_shipping["POPULATION"]

merged_shipping.head(5)

,STATE_NAME,STATE,COUNTY,COUNTY_CODE,YEAR,POPULATION,MME_Conversion_Factor,MME_per_capita
0,COLORADO,CO,ADAMS COUNTY,8001,2007,415746.0,3.887932e+06,9.351701
1,COLORADO,CO,ADAMS COUNTY,8001,2008,424913.0,3.371338e+06,7.934184
2,COLORADO,CO,ADAMS COUNTY,8001,2009,435700.0,3.159909e+06,7.252488
3,COLORADO,CO,ADAMS COUNTY,8001,2010,443692.0,2.949082e+06,6.646687
4,COLORADO,CO,ADAMS COUNTY,8001,2011,452209.0,3.179628e+06,7.031325

In [26]:
merged_shipping.to_csv('shipping_merged_07_15.csv', index=False)
print("CSV file saved")

CSV file saved

# Appendix
List of conties MME_Conversaion_Facot is '0'

In [28]:
MME_0 = merged_shipping[merged_shipping["MME_Conversion_Factor"] == 0]
print(MME_0)

     STATE_NAME STATE           COUNTY  COUNTY_CODE  YEAR  POPULATION  \
108    COLORADO    CO  COSTILLA COUNTY         8023  2007      3567.0
109    COLORADO    CO  COSTILLA COUNTY         8023  2008      3532.0
110    COLORADO    CO  COSTILLA COUNTY         8023  2009      3481.0
111    COLORADO    CO  COSTILLA COUNTY         8023  2010      3529.0
113    COLORADO    CO  COSTILLA COUNTY         8023  2012      3601.0
...         ...   ...              ...          ...   ...         ...
4264     OREGON    OR   SHERMAN COUNTY        41055  2014      1715.0
4265     OREGON    OR   SHERMAN COUNTY        41055  2015      1691.0
4320     OREGON    OR   WHEELER COUNTY        41069  2007      1419.0
4321     OREGON    OR   WHEELER COUNTY        41069  2008      1399.0
4328     OREGON    OR   WHEELER COUNTY        41069  2015      1327.0

      MME_Conversion_Factor  MME_per_capita
108                     0.0             0.0
109                     0.0             0.0
110                     0.0             0.0
111                     0.0             0.0
113                     0.0             0.0
...                     ...             ...
4264                    0.0             0.0
4265                    0.0             0.0
4320                    0.0             0.0
4321                    0.0             0.0
4328                    0.0             0.0

[154 rows x 8 columns]